<div class="container" *ngIf="campaigns$ | async as campaigns">
  <h1 class="d-flex justify-content-center">My Campaigns</h1>
  <div class="d-flex justify-content-end">
    <button class="btn btn-success" (click)="routeToCreateCampaign()">Create Campaign</button>
  </div>
  <div *ngIf="campaigns.length; else noCampaigns">
    <div *ngFor="let campaign of campaigns" class="col-12 col-md-4 col-lg-3">
      <app-campaign-card [campaign]="campaign" class="clickable"
                         (click)="routeToCampaign(campaign)"></app-campaign-card>
    </div>
  </div>
  <ng-template #noCampaigns>
    <p class="d-flex justify-content-center">No campaigns yet. Click the button above to create one</p>
  </ng-template>
</div>
